allow-unwrap-in-tests = true
allow-dbg-in-tests = true
max-fn-params-bools = 2
too-many-lines-threshold = 90
# https://rust-lang.github.io/rust-clippy/master/index.html#/large_include_file
max-include-file-size = 1000000

# https://rust-lang.github.io/rust-clippy/master/index.html#/large_stack_frames
stack-size-threshold = 512000


# https://rust-lang.github.io/rust-clippy/master/index.html#disallowed_methods
disallowed-methods = [
    { path = "egui_extras::TableBody::row", reason = "`row` doesn't scale. Use `rows` instead." },
    { path = "std::env::temp_dir", reason = "Use the tempdir crate instead" },
    { path = "std::panic::catch_unwind", reason = "We compile with `panic = 'abort'`" },
    { path = "std::thread::spawn", reason = "Use `std::thread::Builder` and name the thread" },

    # There are many things that aren't allowed on wasm,
    # but we cannot disable them all here (because of e.g. https://github.com/rust-lang/rust-clippy/issues/10406)
    # so we do that in `clippy_wasm.toml` instead.
]
# https://rust-lang.github.io/rust-clippy/master/index.html#disallowed_types
disallowed-types = [
    { path = "std::sync::Condvar", reason = "Use parking_lot instead" },
    { path = "std::sync::Mutex", reason = "Use parking_lot instead" },
    { path = "std::sync::RwLock", reason = "Use parking_lot instead" },
]
