[package]
name = "plot_util"
version = "0.1.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
log_if = { version = "*", path = "../log_if" }
egui_plot.workspace = true
egui.workspace = true
serde.workspace = true
chrono.workspace = true
num-traits.workspace = true

[dev-dependencies]
testresult.workspace = true
pretty_assertions.workspace = true
