name: Dependabot Changelog Entry

on:
  pull_request:
    branches: [main, master]

jobs:
  update-release-file:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
      - uses: crambl/dependabot-changelog-writer@478f44ae023312b697349f9d12b646936020936f
        with:
          push-token: ${{ secrets.PAT_WITH_REPO_SCOPE }}
