name: Dependabot Changelog Entry

on:
  pull_request:
    branches: [main, master]

jobs:
  update-release-file:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
      - uses: crambl/dependabot-changelog-writer@a4b6e4aa40aa3d07139e5090a2748eb1f1c7671c
        with:
          push-token: ${{ secrets.PAT_WITH_REPO_SCOPE }}
